[defaults]
inventory = inventories/production/hosts
host_key_checking = False
retry_files_enabled = False
forks = 10
gathering = smart
roles_path = ./roles
log_path = ./ansible.log
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
